<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cos.blog.repository.PostRepository">
	<!-- PostRepository에서 받은 parameter에서 쏙 가져옴 -->
	<!-- ORM이라는것을 사용하면 이런것도 안만듬 기본적으로 CRUD를 다 들고 있어서 -->
	<insert id="save">
		INSERT INTO post(title, content, userId, createDate) 
		VALUES(#{title}, #{content}, #{userId}, now()) 
	</insert>

	<select id="findAll" resultType="com.cos.blog.model.Post"><!-- Mybatis에서는 컬렉션을 안적어줘도 된다. -->
		SELECT id, title, content, userId, createDate 
		FROM post 
		ORDER BY id DESC 
	</select>

	<select id="findById"
		resultType="com.cos.blog.controller.dto.PostDetailRespDto">
		SELECT p.id, p.title, p.content, u.username 
		FROM post p 
		INNER JOIN user u 
		ON p.userId = u.id 
		where p.id = #{id} 
	</select>
	
	<delete id="deleteById">
		DELETE FROM post
		WHERE id = #{id}
	</delete>
	
	<update id="update">
		UPDATE post SET title = #{title}, content = #{content}
		WHERE id = #{id} 
	</update>
	
</mapper>
